.calendar-header {
  font-size: 3em;
}

.today {
  background-color: #FCC;
}

.prev-month, .next-month {
  background-color: #CCC;
}

tr {
  height: 100px;
}

td {
  width: 10%;
}

thead {
  tr {
    height: 0px;
  }
}
